<div class="navbar navbar-top m-0 p-0 fixed-top bg-glass">
  <div class="container-fluid navbar-fake bg-transparent my-2">
    <div class="navbar-brand d-flex align-items-center justify-content-center">
      <div class="logo-fake btn-icon m-0 p-0 d-flex justify-content-center align-items-center text-center">
        <%= link_to artists_path do %>
         <i class="fa-brands fa-gratipay fa-2xl fa-trans"></i>
        <% end %>
      </div>
    </div>
    <div class="search">
      <div class="d-flex">
        <% if Artist.find_by(user_id: current_user).nil?  %>
          <div class="create-artist">
            <%= link_to "Become a model", new_artist_path, class: "btn btn-info me-2" %>
          </div>
        <% end %>
        <div class="collapse collapse-horizontal search-fake mx-1" id="navbarTogglerSearch">
          <form class="d-flex" role="search" action="">
            <input class="form-control bg-glass" type="search" placeholder="Search by name" aria-label="Search" name="query" value="<%= params[:query] %>">
            <button class="btn btn-outline-success visually-hidden" type="submit">Search</button>
          </form>
        </div>
        <span class="btn-white d-flex align-items-center justify-content-center p-2 mx-1" type='button' data-bs-toggle='collapse' data-bs-target="#navbarTogglerSearch" aria-controls="navbarTogglerSearch" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-sharp fa-solid fa-magnifying-glass fa-lg text-dark"></i>
        </span>
      </div>
    </div>
  </div>
</div>
