<div class="navbar navbar-expand-lg navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand">
      <i class="fa-brands fa-joomla fa-2xl"></i>
      <small>FakeYourLife</small>
    </div>  
    <div class="search navbar-toggler" type='button' data-bs-toggle='collapse' data-bs-target="#navbarTogglerSearch" aria-controls="navbarTogglerSearch" aria-expanded="false" aria-label="Toggle navigation">
      <div class="d-flex">
        <div class="collapse collapse-horizontal" id="navbarTogglerSearch">
          <form class="d-flex" role="search" action="">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">              <button class="btn btn-outline-success visually-hidden" type="submit">Search</button>
          </form>
        </div>
        <span class="icon d-flex align-items-center justify-content-center">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
    </div>
  </div>
</div>
