<div class="container-fluid p-0 m-0">
<div class="p-0 m-0 absolute-top position-relative text-white row align-items-center bg-index">
  <div class="col-8 px-5 pt-5 mt-5">
    <h1 class="fw-bold display-1 mt-5 text-center">Are you ready to</h1>
    <h1 class="fw-bold display-1 mt-5 text-end"><span class="trans-text bg-info px-2">Fake your life?</span></h1>
  </div>
  <div class="shape-bg"></div>
  <div class="col-4 align-self-end ps-5">
    <div class="px-5 mb-3 ms-5">

    </div>
    <div class="px-5 mb-3 ms-5">

    </div>
  </div>
  <i class="text-center fa-solid fa-angles-down fa-2xl m-0 p-0"></i>
</div>
<div class="wrapper">
  <div class="box a">
    <img src="https://source.unsplash.com/random/350x280/?blogger" alt="" class="card-img-top">
    <p>Take your instagram content to the next level</p>
  </div>
  <div class="box b">
    <img src="https://source.unsplash.com/random/350x280/?couple" alt="" class="card-img-top">
    <p>Never be alone at events</p>
  </div>
  <div class="box c">
    <img src="https://source.unsplash.com/random/350x280/?family" alt="" class="card-img-top">
    <p>Create your own perfect family</p>
  </div>
  <div class="box d">
    <img src="https://source.unsplash.com/random/350x280/?luxury" alt="" class="card-img-top">
    <p>Access luxury items any time</p>
  </div>
  <div class="box e">
    <img src="https://source.unsplash.com/random/350x280/?friends" alt="" class="card-img-top">
    <p>Find a perfect partner and impress your friends</p>
  </div>
  <div class="box f">
    <img src="https://source.unsplash.com/random/350x280/?party" alt="" class="card-img-top">
    <p>Do whatever you want</p>
  </div>
</div>
