.btn-icon {
  height: 36px;
  width: 36px;
  border-radius: 23px;
  background: #CD452F;
  box-shadow:  5px 5px 10px #ae3b28,
             -5px -5px 10px #ec4f36;
  transition: all 0.5 ease;
    &:hover {
      height: 38px;
      width: 38px;
      background: #CD452F;
      box-shadow:  10px 10px 20px #903021,
             -10px -10px 20px #ff5a3d;
    }
    &:active {
      height: 36px;
      width: 36px;
      background: linear-gradient(145deg, #b93e2a, #db4a32);
      box-shadow:  5px 5px 10px #b93e2a,
             -5px -5px 10px #e24c34;
    }
}
.btn-white {
  height: 38px;
  width: 38px;
  border-radius: 23px;
  background: #E7E7E7;
  box-shadow:  5px 5px 10px #d5d5d5,
             -5px -5px 10px #f9f9f9;
  transition: all 0.5 ease;
    &:hover {
      height: 38px;
      width: 38px;
      background: #E7E7E7;
      box-shadow:  12px 12px 24px #b9b9b9,
             -12px -12px 24px #ffffff;
    }
    &:active {
      height: 38px;
      width: 38px;
      background: linear-gradient(145deg, #d0d0d0, #f7f7f7);
      box-shadow:  5px 5px 10px #cbcbcb,
             -5px -5px 10px #ffffff;
    } 
}
