.glide {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  overflow: hidden;
}
.glide__slides {
  list-style:none;
  padding: 0;
  li {
    margin: 0;
  }
}
.glide__slide {
  img {
    display: block;
    //width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
}
.glide__arrows {
  width: 100%;
  bottom: 30px;
}
.glide__arrow {
  color: #dbdbdb;
  border: none;
  background: rgba(0,0,0,0.4);
  &.glide__arrow--left {
    left: 0;
    border-radius: 0 3px 0 3px;
  }
  &.glide__arrow--right {
    right: 0;
    border-radius: 3px 0 3px 0; }
}
