.card-category {
  position: relative;
  height: 200px;
  text-shadow: 0.5px 0.5px 3px #403d39;
  padding: 10px;
  h2 {
    z-index: 102;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 130px;
    text-shadow: 1.5px 0.5px 6px black;
    transform: perspective(600px) rotateY(0deg);
    transition: transform 0.6s ease-in-out;
  }
  .rectangle {
    position: absolute;
    width: 190px;
    height: 145px;
    left: 24px;
    top: 50px;
    border-radius: 24px;
    transform: perspective(400px) rotateY(45deg);
    transition: transform 0.6s ease-in-out;
  }
  img {
    height:200px;
    width:auto;
    object-fit:cover;
    z-index:100;
    position:absolute;
    transform: scale(0.9);
    transition: transform 0.6s ease-in-out;
  }
  &:hover {
    h2 {
      transform: perspective(900px) rotateY(15deg);
    }
    .rectangle {
      transform: perspective(400px) rotateY(-45deg);
    }
    img {
      transform: scale(1.1);
    }
  }
}

.card-large {
  height: 50vh;
  max-height: 400px;
}

.cards-form {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.i-fake {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  transform: scale(0.1);
  transition: all 0.2s ease;
}

.card > h2{
  pointer-events:none;
}

.container-cards {

  .card {
    z-index: 110;
    position: relative;
    width: 360px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;

    h2 {
      z-index: 100;
      position: absolute;
      bottom: 0;
      right: 130px;
      font-size: 2rem;
      font-weight: 900;
      color: #fff;
    }

    .fa-arrow-right {
      z-index: 100;
      position: absolute;
      right: 75px;
      bottom: 25px;
      font-size: 40px;
      cursor: pointer;
    }
    p {
      z-index: 100;
      position: absolute;
      top: 25px;
      right: 10px;
      color: #333;
      opacity: 0.7;
      font-size: 0.8rem;
      letter-spacing: 1px;
      writing-mode: vertical-lr;
      transition: all 0.2s ease;
    }
    .pic {
      z-index: 99;
      width: 300px;
      height: 200px;
      left: 0px;
      background-size: cover;
      filter: grayscale(100%);
    }

    .social {
      z-index: 100;
      position: absolute;
      left: 90px;
      top: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 180px;
      height: 64px;
      border-radius: 80px;
      text-shadow: 0.5px 0.5px 3px #403d39;
    }

    .social i:nth-of-type(1) {
      transition-delay: 0.4s;
    }

    .social i:nth-of-type(2) {
      transition-delay: 0.3s;
    }

    .social i:nth-of-type(3) {
      transition-delay: 0.2s;
    }

    .social i:nth-of-type(4) {
      transition-delay: 0.1s;
    }

    &:hover i {
      opacity: 1;
      transform: scale(1);
    }

    button {
      z-index: 99;
      position: absolute;
      right: 14px;
      bottom: 14px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      outline:none;
      transition: all 0.3s ease;
      mix-blend-mode: hard-light;
    }

    &:hover button {
      transform: scale(15);
    }

    &:hover p {
      color: #fff;
    }

    &:hover .pic {
      filter: grayscale(0);
    }
  }
}

.card-hire {
  overflow: hidden;
  height: 72px;
  background: transparent;
  display: flex;
  align-items: center;

  img {
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 10px;
  }

  a {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
  }

  p {
    font-size: 12px;
    line-height: 1;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
  }
  .card-hire-infos {
    padding: 16px;
  }
}
