.navbar-fake{
  height: 45px;
}

.navbar-fake .navbar-collapse {
  flex-grow: 0;
}

.search-fake {
  width: 70vw;
}
.navside-fake {
  width: 60px;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.8 ease;
  &:hover {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.03);
  }
}
