// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@glidejs/glide/src/assets/sass/glide.core";
@import "@glidejs/glide/src/assets/sass/glide.theme";
@import "star-rating.js/dist/star-rating.css";
@import "tom-select/dist/css/tom-select.min.css";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/background";


html {
	font-size: 100%;
}

a {
	text-decoration: none;
	transition: all 0.5 ease;
}

a:hover {
	font-size: 1.1rem;
}

.fa-star {
	color: #FFB901;
}

.fa-star-half-stroke {
	color: #FFB901;
}
